<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CheckCarSystem</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.ltc.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.ltc.web.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginLogFilter</filter-name>
    <filter-class>com.ltc.web.filter.LoginLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginLogFilter</filter-name>
    <url-pattern>/UserLoginServlet.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>SafeFilter</filter-name>
    <filter-class>com.ltc.web.filter.SafeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SafeFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SafeFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.ltc.listener.HttpSessionListenerImpl</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class> com.ltc.commons.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/ValidateCodeServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ExitSystemServlet</display-name>
    <servlet-name>ExitSystemServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.ExitSystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitSystemServlet</servlet-name>
    <url-pattern>/ExitSystemServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindHomeDataServlet</display-name>
    <servlet-name>FindHomeDataServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.FindHomeDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindHomeDataServlet</servlet-name>
    <url-pattern>/FindHomeDataServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperateDataServlet</display-name>
    <servlet-name>OperateDataServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.OperateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateDataServlet</servlet-name>
    <url-pattern>/OperateDataServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwdServlet</display-name>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/UpdatePwdServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindLoginlogServlet</display-name>
    <servlet-name>FindLoginlogServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.FindLoginlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindLoginlogServlet</servlet-name>
    <url-pattern>/FindLoginlogServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarinfoServlet</display-name>
    <servlet-name>AddCarinfoServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.AddCarinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarinfoServlet</servlet-name>
    <url-pattern>/AddCarinfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCarinfoServlet</display-name>
    <servlet-name>FindCarinfoServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.FindCarinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCarinfoServlet</servlet-name>
    <url-pattern>/FindCarinfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreUpdateUserServlet</display-name>
    <servlet-name>PreUpdateUserServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.PreUpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreUpdateUserServlet</servlet-name>
    <url-pattern>/PreUpdateUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperateUserServlet</display-name>
    <servlet-name>OperateUserServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.OperateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateUserServlet</servlet-name>
    <url-pattern>/OperateUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperateCarinfoServlet</display-name>
    <servlet-name>OperateCarinfoServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.OperateCarinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateCarinfoServlet</servlet-name>
    <url-pattern>/OperateCarinfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperateRoleServlet</display-name>
    <servlet-name>OperateRoleServlet</servlet-name>
    <servlet-class>com.ltc.web.servlet.OperateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateRoleServlet</servlet-name>
    <url-pattern>/OperateRoleServlet.do</url-pattern>
  </servlet-mapping>
</web-app>